.flex {
  display: flex;
}

.header {
  align-items: center;
  justify-content: space-between;
  margin: 12px 24px;
}

.nav-bar {
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.nav-bar a {
  color: #2f8eff;
  text-decoration: none;
}

.nav-item.active {
  text-decoration: underline;
}

.brand {
  align-items: center;
}

.brand a {
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.brand img {
  width: 60px;
  margin-right: 12px;
}

hr {
  width: 2px;
  border: 0.1px solid black;
  height: 16px;
  background: black;
}

.body-hr {
  border: 0.1px solid #c7c5c5;
  margin-left: 13px;
  width: 97%;
  height: 0.1px;
}

table {
  margin: 24px;
  width: 95%;
  height: 100%;
  border: 0.1px solid #c7c5c5;
}

th {
  padding: 12px;
  text-align: left;
  border: 0.1px solid #c7c5c5;
}

td {
  padding: 6px;
  text-align: left;
  border: 0.1px solid #c7c5c5;
}

tr:nth-child(even) {
  background: #ebebeb;
}

.mission-name {
  position: relative;
  width: 12%;
  padding-left: 10px;
  font-weight: 700;
}

.mission-description {
  width: 64%;
  padding-bottom: 18px;
}

.mission-status {
  width: 12%;
  text-align: center;
}

.mission-status p {
  padding: 3px;
  color: white;
  border-radius: 2px;
  background: #6d757d;
}

.mission-status .active-member {
  background: #18a2b8;
}

.mission-join {
  width: 12%;
  text-align: center;
}

#leave-mission {
  color: red;
  border-radius: 2px;
  border: 1px solid red;
}

.mission-join button {
  padding: 4px;
}

.my-profile {
  margin: 12px;
}

.my-profile h2 {
  margin: 12px 0;
}

.my-profile li {
  list-style: none;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  width: 40%;
  padding: 12px 12px 24px;
}

.hero {
  background-size:cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 40rem;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 4rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.grid-movies-section {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 10rem);
}

.movie-background {
  background-position: center;
  background-size: cover;
}
